(
    events: [
        (100, Screenshot),
        (200, Custom("switch_scene")),
        (400, Custom("switch_scene")),
        (500, Screenshot),
        (600, Custom("switch_scene")),
        (800, Custom("switch_scene")),
        (900, Screenshot),
        (1000, Custom("switch_scene")),
        (1200, Custom("switch_scene")),
        (1300, Screenshot),
        (1400, AppExit),
    ]
)
