name: CI

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
      - staging-squash-merge.tmp

env:
  CARGO_TERM_COLOR: always

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: wuut
        run: |
          echo $ANDROID_HOME
          echo $ANDROID_SDK_ROOT
          SDKMANAGER=$ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager
          # $SDKMANAGER --uninstall "build-tools;31.0.0"
          # $SDKMANAGER --install "build-tools;30.0.3"
          # $SDKMANAGER --uninstall "ndk;21.4.7075529"
          $SDKMANAGER --install "ndk;22.1.7171670"
          $SDKMANAGER --list
          ls $ANDROID_NDK_ROOT/toolchains/llvm/prebuilt/linux-x86_64/bin/
          echo "========"
          ls /usr/local/lib/android/sdk/ndk/22.1.7171670/toolchains/llvm/prebuilt/linux-x86_64/bin/
      - name: Install Android targets
        run: rustup target add aarch64-linux-android armv7-linux-androideabi
      - name: Install Cargo APK
        run: |
          cargo install cargo-quickinstall
          cargo quickinstall cargo-apk
      - name: Build APK
        run: cargo apk build --example android
        env:
          ANDROID_NDK_ROOT: $ANDROID_NDK_LATEST_HOME
