name: crash

on:
  push:


jobs:

  run-examples-on-windows-dx12:
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 8531033b31b086f202b881933d1efcabf8fea026
      - uses: dtolnay/rust-toolchain@stable
      - name: Build bevy
        shell: bash
        # this uses the same command as when running the example to ensure build is reused
        run: |
          WGPU_BACKEND=dx12 CI_TESTING_CONFIG=.github/example-run/config.ron cargo build --example anti_aliasing --features "bevy_ci_testing"
      - name: Run examples
        shell: bash
        run: |
          for example_name in anti_aliasing deferred_rendering irradiance_volumes parallax_mapping tonemapping update_gltf_scene; do
            time WGPU_BACKEND=dx12 CI_TESTING_CONFIG=config.ron cargo run --example $example_name --features "bevy_ci_testing"
            sleep 10
          done
