name: CI

on:
  push:

jobs:
  run-examples-linux-vulkan:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Bevy dependencies
        run: |
          sudo apt-get update;
          DEBIAN_FRONTEND=noninteractive sudo apt-get install --no-install-recommends -yq \
            libasound2-dev libudev-dev;
      - name: install xvfb, llvmpipe and lavapipe
        run: |
          sudo apt-get update -y -qq
          sudo add-apt-repository ppa:oibaf/graphics-drivers -y
          sudo apt-get update
          sudo apt install -y xvfb libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-run-examples-${{ hashFiles('**/Cargo.toml') }}
      - uses: dtolnay/rust-toolchain@stable
      - name: Build bevy
        # this uses the same command as when running the example to ensure build is reused
        run: |
          TRACE_CHROME=trace-alien_cake_addict.json CI_TESTING_CONFIG=.github/example-run/alien_cake_addict.ron cargo build --example alien_cake_addict --features "bevy_ci_testing,trace,trace_chrome"
      - name: Run examples
        run: |
          example=".github/example-run/alien_cake_addict.ron"
          example_name=`basename $example .ron`
          echo -n $example_name > last_example_run
          echo "running $example_name - "`date`
          time TRACE_CHROME=trace-$example_name.json CI_TESTING_CONFIG=$example xvfb-run cargo run --example $example_name --features "bevy_ci_testing,trace,trace_chrome"
          sleep 10
          if [ `find ./ -maxdepth 1 -name 'screenshot-*.png' -print -quit` ]; then
            mkdir screenshots-$example_name
            mv screenshot-*.png screenshots-$example_name/
          fi
      - name: save traces
        uses: actions/upload-artifact@v3
        with:
          name: example-traces.zip
          path: traces.zip
      - name: save screenshots
        uses: actions/upload-artifact@v3
        with:
          name: screenshots.zip
          path: screenshots.zip
      - uses: actions/upload-artifact@v2
        if: ${{ failure() && github.event_name == 'pull_request' }}
        with:
          name: example-run
          path: example-run/
