name: validation jobs

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  run-examples-on-windows-dx12:
    runs-on: windows-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-windows-run-examples-${{ hashFiles('**/Cargo.toml') }}

      - name: Build bevy
        run: |
          WGPU_BACKEND=dx12 cargo build --features "bevy_ci_testing"

      - name: Run examples
        shell: bash
        run: |
          for example in .github/example-run/*.ron; do
            example_name=`basename $example .ron`
            echo "running $example_name - "`date`
            time WGPU_BACKEND=dx12 CI_TESTING_CONFIG=$example cargo run --example $example_name --features "bevy_ci_testing"
            sleep 10
          done
